*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

:root{
    --cor1: #ffffff;
    --cor2: #f2b47e;
    --cor3: #a65729;
    --cor4: #d98859;
    --cor5: #d93611;
    --cor6: #591515;
    --cor7: #fafafa;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    padding: 10px;
    text-align: center;
    color: var(--cor1);
    background-color: var(--cor6);
}

footer{
    padding: 20px;
    text-align: center;
    color: var(--cor1);
    background-color: var(--cor6);
}

h2{
    color: var(--cor6);
    text-align: center;
    margin-bottom: 20px;
}

main{
    max-width: 70%;
    margin: auto;
    padding: 15px;
    background-color: var(--cor7);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.144);
}

legend{
  margin: 0 auto;
  font-weight: bold;
  color: var(--cor6);
}

table{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width: 80%;
}

td, th{
    border: 2px solid var(--cor6);
    border-collapse: collapse;
    padding: 10px;
}

th{
    background-color: var(--cor6);
    color: var(--cor1);
}

button{
    padding: 10px;
    font-weight: bold;
    border: none;
    background-color: var(--cor3);
    color: var(--cor1);
    border-radius: 5px;
    cursor: pointer;
}

label{
    color: var(--cor6);
    font-weight: bold;
}

button:hover{
    background-color: var(--cor4);
}

input{
    font-size: 1.3em;
}

input:focus{
    outline: 2px solid var(--cor3);
}

#notas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 100%;
    margin: 20px 0; /*Colocar o auto no lugar do 0 para centralizar*/
}

#notas input, #frequencia{
    width: 70px;
}

.linha{
    padding: 5px;
    
}

#nome_completo{
    width: 400px;
    margin-right: 20px;
}